################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.zip
/x64/Debug
/cpp0x
/.vs
/dflogtest/x64/Debug
/dflogtest/Log
/dflogtest/~AutoRecover.dflogtest.vcxproj
